.banner {
	display: flex;
	// gap: 66px;
	align-items: center;
	position: relative;

	justify-content: space-between;
	// left: -180px;
	.test {
		// transform: translateX(-200px);

		width: 60rem;
	}
	img {
		width: 100%;
		// height: 797px;
		object-fit: cover;
	}

	// &-content {
	// }

	&-title {
		font-size: 2.9rem;
		font-weight: bold;
		font-family: "Red Hat Display", sans-serif;
		color: $font1-color;
	}
	&-title-1 {
		font-size: 5rem;
		font-weight: 700;
		font-family: "Red Hat Display", sans-serif;
		color: $font3-color;
	}
	&-desc {
		font-size: 1.9rem;
		line-height: 4.3rem;
		font-family: "Poppin", sans-serif;
	}
	.btn-learn-more {
		margin-top: 56px;
		padding: 22px 50px;
		background: rgba(250, 86, 82, 0.15);
		border-radius: 65px;
		color: $font1-color;
		font-size: 20px;
		font-weight: 600;
		font-family: "Poppin", sans-serif;
	}
}

// Contagion
.contagion {
	text-align: center;
	position: relative;
	&-title {
		font-size: 2.9rem;
		color: $font1-color;
		font-weight: 700;
		font-family: "Red Hat Display", sans-serif;
	}
	&-title1 {
		font-size: 5rem;
		color: $font2-color;
		font-weight: 700;
		font-family: "Red Hat Display", sans-serif;
	}
	.block-desc {
		max-width: 570px;
		margin: 0 auto;
		font-family: "Poppin", sans-serif;
	}
	&-desc {
		font-size: 1.8rem;
		color: $font3-color;
		line-height: 38px;
	}
	&-center {
		margin: 0 auto;
	}
}

// topics
.topics {
	display: flex;
	align-items: center;
	gap: 31px;
	margin-top: 111px;
	&-item {
		z-index: 2;
		width: 460px;
		cursor: pointer;
		background: #ffffff;
		box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
		border-radius: 10px;
		padding-top: 65px;
		padding-bottom: 75px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		transition: all 0.6s ease-in;
		img {
			width: 269.5px;
			height: 249px;
			object-fit: cover;
			flex-shrink: 0;
		}
	}
	&-title {
		color: $font2-color;
		font-size: 3.6rem;
		font-family: "Poppin", sans-serif;
		margin-top: 55px;
		margin-bottom: 13px;
	}
	&-desc {
		font-size: 1.8rem;
		font-family: "Poppin", sans-serif;
		color: $font3-color;
	}
	&-content {
		padding: 0 52.5px;
	}
	&-item:hover {
		box-shadow: 0px 35px 87px rgba(226, 8, 8, 0.11);
	}
	&-item:hover .topics-content::after {
		position: absolute;
		content: "";
		width: 100%;
		display: block;
		height: 6px;
		background: $font1-color;
		bottom: 0;
		left: 0;
		border-radius: 0px 0px 100px 100px;
	}
	&-outside {
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translateX(-54%);
	}
}

// responsive
@media screen and (max-width: 1400px) {
	.topics {
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 991px) {
	.banner {
		margin-top: 40px;
		&-title {
			font-size: 2rem;
		}
		&-title-1 {
			font-size: 4.5rem;
		}
		&-desc {
			font-size: 1.6rem;
			line-height: 4rem;
		}
		.btn-learn-more {
			padding: 20px 45px;
			font-size: 1.8rem;
		}
	}
	.topics {
		margin-top: 70px;
		&-outside {
			display: none;
		}
	}
}
@media screen and (max-width: 768px) {
	.banner {
		flex-wrap: wrap;
		justify-content: center;
		&-title {
			font-size: 2rem;
		}
		&-title-1 {
			font-size: 4.5rem;
		}
		&-desc {
			font-size: 1.6rem;
			line-height: 4rem;
		}
		&-content {
			text-align: center;
		}
		.btn-learn-more {
			padding: 18px 38px;
			font-size: 1.4rem;
			margin-bottom: 40px;
		}
	}
	.contagion {
		&-title {
			font-size: 2rem;
		}

		&-title1 {
			font-size: 4.5rem;
		}
		.block-desc {
			max-width: 570px;
		}
		&-desc {
			font-size: 1.8rem;
			line-height: 38px;
		}
	}
	.topics {
		margin-top: 60px;
		&-outside {
			display: none;
		}
	}
}
// @media screen and (max-width: 450px) {
// }
